<!DOCTYPE html>
<html>
<head>
  <title>LbmMercadopago</title>
  <%= stylesheet_link_tag    "lbm_mercadopago/application", :media => "all" %>
  <%= javascript_include_tag "lbm_mercadopago/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
