<div class="inbox-sf-add-btn tip">
	<h3>
		<%= t('projects.backers.review.mercadopago_title') %>
	</h3>
	<div class="bootstrap-twitter">
		<img src="https://mercadopago.mlstatic.com/images/desktop-logo-mercadopago.png"/>
		<%= link_to t('mercadopago_submit', scope: 'projects.backers.checkout'), @preference['response']['init_point'], class: "btn btn-primary btn-large" %>
	</div>
</div>