<div class="inbox-sf-add-btn tip">
<h3>
	<%= t('projects.backers.review.mercadopago_title') %>
</h3>
<%= button_to t('mercadopago_submit', scope: 'projects.backers.checkout'), @preference['response']['init_point'], class: "btn btn-primary btn-large" %>
</div>